In [30]:
import pandas as pd
import hashlib

In [31]:
df_haiti = pd.read_csv('C:\\Users\\nagar\\OneDrive\\Desktop\\ML\\nlp\\cleaned_haiti.csv')
df_iraq_iran = pd.read_csv("C:\\Users\\nagar\\OneDrive\\Desktop\\ML\\nlp\\cleaned_iraq_iran.csv")
df_japan = pd.read_csv("C:\\Users\\nagar\\OneDrive\\Desktop\\ML\\nlp\\cleaned_japan.csv")
df_maxico = pd.read_csv("C:\\Users\\nagar\\OneDrive\\Desktop\\ML\\nlp\\cleaned_mexico.csv")
df_turkey = pd.read_csv("C:\\Users\\nagar\\OneDrive\\Desktop\\ML\\nlp\\cleaned_turkey.csv")

In [32]:

# df_haiti['text'] = df_haiti['text'].drop_duplicates()
# df_iraq_iran['text']= df_iraq_iran['text'].drop_duplicates()
# df_japan['text'] = df_japan['text'].drop_duplicates()
# df_maxico['text'] = df_maxico['text'].drop_duplicates()
# df_turkey['text']= df_turkey['text'].drop_duplicates()

In [33]:
df_unique_haiti = df_haiti.drop_duplicates(subset='text', keep='first')
df_unique_haiti.to_csv("df_unique_haiti.csv",index=False)

In [34]:
df_unique_iraq_iran = df_iraq_iran.drop_duplicates(subset='text', keep='first')
df_unique_japan= df_japan.drop_duplicates(subset='text', keep='first')
df_unique_maxico= df_maxico.drop_duplicates(subset='text', keep='first')
df_unique_turkey= df_turkey.drop_duplicates(subset='text', keep='first')

In [35]:
# Save each DataFrame to a CSV file

df_unique_iraq_iran.to_csv('df_unique_iraq_iran.csv', index=False)
df_unique_japan.to_csv('df_japan_unique.csv', index=False)
df_unique_maxico.to_csv('df_maxico_unique.csv', index=False)
df_unique_turkey.to_csv('df_turkey_unique.csv', index=False)

In [36]:
df_unique_turkey

,text,date
0,hey turkish users getting rate limit exceeded ...,2023-02-06 13:04:30+00:00
1,may allah mercy passed away make easy affected...,2023-02-06 13:04:30+00:00
2,stand turkey,2023-02-06 13:04:31+00:00
3,occurred km e min ago local time info,2023-02-06 13:04:33+00:00
4,former newcastle united star christian atsu am...,2023-02-06 13:04:33+00:00
...,...,...
36771,cat saved hours,2023-02-10 23:56:36+00:00
36772,massive thanks entire team continued amazing c...,2023-02-10 23:57:03+00:00
36773,please donate ahbap charity charity helping vi...,2023-02-10 23:58:12+00:00
36774,thought heart would burst grief tears running ...,2023-02-10 23:58:20+00:00
36776,please donate like share raise awareness key l...,2023-02-10 23:58:58+00:00

In [38]:
df_unique_iraq_iran

,text,date,category
0,rt presstv update death toll irans quake rises...,13_11_2017,injured_or_dead_people
1,rt cafod pray affected earthquake iraq iran,13_11_2017,not_humanitarian
2,rt reutersworld death toll reaches iran earthq...,13_11_2017,injured_or_dead_people
3,rt laylaalhussein magnitude earthquake struck ...,13_11_2017,other_relevant_information
7,video magnitude earthquake jolts iraniraq bord...,13_11_2017,other_relevant_information
...,...,...,...
592,damage proxy maps cities near epicenter kerman...,18_11_2017,infrastructure_and_utility_damage
593,iran daily us treasury blocks donations earthq...,18_11_2017,rescue_volunteering_or_donation_effort
594,kurdish childrens situation earthquake iran te...,18_11_2017,affected_individuals
595,irans earthquake exposes political rifts ineff...,18_11_2017,other_relevant_information
596,victims last weeks earthquake gather outdoors ...,18_11_2017,affected_individuals